# VC++ crap
*.suo
*.vcxproj.user
*.sdf
*.opensdfs
windows/*/Debug/
windows/*/Release/
windows/*/ipch/

# Xcode crap
osx/*.xcodeproj/*
osx/build/
!osx/*.xcodeproj/project.pbxproj
xcuserdata/

# linux build output
linux/*/bin/
linux/*/obj/
